# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.
# Monday step - figure out how to access artifact file from within R.

name: R

on:
  workflow_dispatch:

jobs:
   changed_files:
    runs-on: ubuntu-latest  # windows-latest || macos-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
      - run:
          echo ${{ steps.changed-files.outputs.all_changed_files }} > scripts/committed_files.txt
      - uses: actions/upload-artifact@v4
        with:
         name: committed_files
         path: scripts/committed_files.txt
         retention-days: 0
         overwrite: true
          
   import-data:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::tidyverse 
            any::stringr

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Import data
        run: Rscript -e 'source("scripts/3a_update_all_files.R")'

      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add rules/\*
          git commit -am 'Text files added or updated' || echo "No changes to commit"
          git push origin main || echo "No changes to commit"
